

.app{
    display:flex;

    justify-content: center;
    .container{
        width: 1024px;


        .link{
            text-decoration: none;
            color: inherit;
            font-size:16px;
                    font-weight:300;

        }
        //LOGIN & REGISTER
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #b9e7e7;

            h1{
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
                

            }
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap:20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border:none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }

                p{
                    font-size: 12px;
                    color: red;
                }

                span{
                    font-size: 12px;
                    text-align: center;
                }
                
            }
        }
        //NAVBAR
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    
                    display: flex;
                    gap:10px;
                    align-items: center;
                    span{
                        cursor: pointer;
                    }
                    .write{
                        background-color: #b9e7e7;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;
                        &:hover{

                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }
                }
                

                
            }
        }



        //Footer
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: #b9e7e7;
            display:flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            }
        }
        
        //HOME
        .home{
            .posts{
                margin-top: 50px;
                flex-direction: column;
                gap:150px;
                display:flex;

                &:nth-child(2n + 1){
                    flex-direction: row-reverse;
                }
                .post{
                    display: flex;

                    .img{
                        flex:2;
                        img{
                            width: 90%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                        
                    }
                    .content{
                        flex: 3;
                        
                    }
                    
                }
            }
        }
    }
} 




